In [15]:
# Loading libraries
library(tidyverse)

In [16]:
# Reading the data
olympic_data <- read.csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-07-27/olympics.csv')

cat('Data set contains', nrow(olympic_data), 'rows.')

Data set contains 271116 rows.

In [17]:
# filtering medal winners
olympic_winners <- olympic_data |> 
    drop_na(medal)
    
cat('Data set contains', nrow(olympic_winners), 'medal winners.')

Data set contains 39783 medal winners.

In [18]:
# Summer winners count
summer_olympics_winners <- olympic_winners |> 
    tibble(unsplit = games) |>  
    separate(unsplit, into = c("games_year", "games_season"), sep = " ") |> 
    filter(games_season == 'Summer')

cat('Data set contains', nrow(summer_olympics_winners), 'summer olympics medal winners.')

Data set contains 34088 summer olympics medal winners.

In [27]:
# Data set to create dashboard including both summer and winter olympics
# games column is splitted so it will be easier to filter summer/olympics games
olympic_winners <- olympic_winners |> 
    tibble(unsplit = games) |>  
    separate(unsplit, into = c("games_year", "games_season"), sep = " ") 

head(olympic_winners, 5)
cat('Final data set contains', nrow(olympic_winners), 'rows.')

  id name                     sex age height weight team           noc
1  4 Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
2 15 Arvo Ossian Aaltonen     M   30   NA    NA     Finland        FIN
3 15 Arvo Ossian Aaltonen     M   30   NA    NA     Finland        FIN
4 16 Juhamatti Tapio Aaltonen M   28  184    85     Finland        FIN
5 17 Paavo Johannes Aaltonen  M   28  175    64     Finland        FIN
  games       year season city      sport
1 1900 Summer 1900 Summer Paris     Tug-Of-War
2 1920 Summer 1920 Summer Antwerpen Swimming
3 1920 Summer 1920 Summer Antwerpen Swimming
4 2014 Winter 2014 Winter Sochi     Ice Hockey
5 1948 Summer 1948 Summer London    Gymnastics
  event                                  medal  games_year games_season
1 Tug-Of-War Men's Tug-Of-War            Gold   1900       Summer
2 Swimming Men's 200 metres Breaststroke Bronze 1920       Summer
3 Swimming Men's 400 metres Breaststroke Bronze 1920       Summer
4 Ice Hockey Men's Ice Hockey            Bronze 2014       Winter
5 Gymnastics Men's Individual All-Around Bronze 1948       Summer

Final data set contains 39783 rows.

In [28]:
str(olympic_winners)

tibble [39,783 × 17] (S3: tbl_df/tbl/data.frame)
 $ id          : int [1:39783] 4 15 15 16 17 17 17 17 17 20 ...
 $ name        : chr [1:39783] "Edgar Lindenau Aabye" "Arvo Ossian Aaltonen" "Arvo Ossian Aaltonen" "Juhamatti Tapio Aaltonen" ...
 $ sex         : chr [1:39783] "M" "M" "M" "M" ...
 $ age         : int [1:39783] 34 30 30 28 28 28 28 28 32 20 ...
 $ height      : int [1:39783] NA NA NA 184 175 175 175 175 175 176 ...
 $ weight      : num [1:39783] NA NA NA 85 64 64 64 64 64 85 ...
 $ team        : chr [1:39783] "Denmark/Sweden" "Finland" "Finland" "Finland" ...
 $ noc         : chr [1:39783] "DEN" "FIN" "FIN" "FIN" ...
 $ games       : chr [1:39783] "1900 Summer" "1920 Summer" "1920 Summer" "2014 Winter" ...
 $ year        : int [1:39783] 1900 1920 1920 2014 1948 1948 1948 1948 1952 1992 ...
 $ season      : chr [1:39783] "Summer" "Summer" "Summer" "Winter" ...
 $ city        : chr [1:39783] "Paris" "Antwerpen" "Antwerpen" "Sochi" ...
 $ sport       : chr [1:39783] "Tug-Of-War" "Swimming" "Swimming" "Ice Hockey" ...
 $ event       : chr [1:39783] "Tug-Of-War Men's Tug-Of-War" "Swimming Men's 200 metres Breaststroke" "Swimming Men's 400 metres Breaststroke" "Ice Hockey Men's Ice Hockey" ...
 $ medal       : chr [1:39783] "Gold" "Bronze" "Bronze" "Bronze" ...
 $ games_year  : chr [1:39783] "1900" "1920" "1920" "2014" ...
 $ games_season: chr [1:39783] "Summer" "Summer" "Summer" "Winter" ...